#status-bar {
  border-bottom: 1px solid #ddd;
  display:flex;
  align-items: flex-end;
  align-content: space-between;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
  padding-right: 20px;
  font-weight: bold;
  font-size: 140%;
  cursor: pointer;
}

#side-panel {
  border-right: 1px solid #ddd;
}

#main-panel {
  border-left: 1px solid #ddd;
  margin-left: -1px;
}

.city-list {
  margin-bottom: 20px;
  margin-top: 20px;
}

table .name {
  width: 150px;
}

td.name {
  font-size: 120%;
}

table .cost,
table .count,
table .purchased,
table .money-delta {
  width: 100px;
}

table tbody tr.selected {
  background-color: #d9edf7
}

table tbody tr:hover {
  background-color: #d9edf7
}

table.city-list tr,
table.upgrades-available tr,
table.building-list tr {
  cursor: pointer;
}

/*
.city, .city-list-header,
.building, .building-list-header {
  display: flex;
}

.city-list-header,
.building-list-header {
  font-weight: bold;
}

.city .name, .building .name {
  font-size: 120%;
}

.city .name, .city-list-header .name,
.building .name, .building-list-header .name {
  width: 150px;
}

.city .money-delta,
.city .buildings,
.city-list-header .money-delta,
.city-list-header .buildings,
.building .count,
.building .cost,
.building-list-header .count,
.building-list-header .cost {
  width: 100px;
}
*/

