#status-bar {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

ul.menu {
  padding-left: 0;
  margin-bottom: 0;
}

.menu {
  flex-grow: 1;
  display: flex;
}

.menu li {
  list-style: none;
  padding-right: 20px;
  font-weight: bold;
  font-size: 140%;
  cursor: pointer;
}

.resources {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

#side-panel {
  border-right: 1px solid #ddd;
}

#main-panel {
  border-left: 1px solid #ddd;
  margin-left: -1px;
}

.city-list {
  margin-bottom: 20px;
  margin-top: 20px;
}

table .name {
  width: 200px;
}

td.name {
  font-size: 120%;
}

table .cost,
table .count,
table .purchased,
table .money-delta {
  width: 100px;
}

table tbody tr.selected {
  background-color: #d9edf7
}

table tbody tr:hover {
  background-color: #d9edf7
}

table.city-list tr,
table.upgrades-available tr,
table.building-list tr {
  cursor: pointer;
}

.upgrade-header {
  font-weight: bold;
  font-size: 140%;
}

.money-icon {
  display: inline-block;
  width: 16px;
  height: 0px;
  background-size: 16px 16px;
  padding-top: 16px;
  overflow: hidden;
  background-image: url("../images/money-64x64.png");
}

.exploration-icon {
  display: inline-block;
  width: 16px;
  height: 0px;
  background-size: 16px 16px;
  padding-top: 16px;
  overflow: hidden;
  background-image: url("../images/exploration-64x64.png");
}

.achievement-icon {
  display: inline-block;
  width: 16px;
  height: 0px;
  background-size: 16px 16px;
  padding-top: 16px;
  overflow: hidden;
  background-image: url("../images/star-64x64.png");
}
