body {
  font-family: icons, sans-serif;
}

#status-bar {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

ul.menu {
  padding-left: 0;
  margin-bottom: 0;
}

.menu {
  flex-grow: 1;
  display: flex;
}

.menu li {
  list-style: none;
  padding-right: 20px;
  font-weight: bold;
  font-size: 140%;
  cursor: pointer;
}

.resources {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resources > div {
  white-space: nowrap;
}

.city-list {
  margin-bottom: 20px;
  margin-top: 20px;
}

td.name {
  font-size: 120%;
}

table.achievements-list > tbody > tr > td,
table.building-list > tbody > tr > td,
table.city-list > tbody > tr > td,
table.city-site-list > tbody > tr > td,
table.upgrades-available > tbody > tr > td {
  vertical-align: middle;
}

table .progress {
  margin-bottom: 0;
}

table.city-list {
  cursor: pointer;
}

table.city-list tbody tr:hover {
  background-color: #d9edf7;
}

.name,
.cost,
.workers {
  white-space: nowrap;
}

.count, .cost, .workers, .points {
  text-align: center;
}

.workers a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.upgrade-header {
  font-weight: bold;
  font-size: 140%;
}

.city-detail .metrics {
  display: flex;
  justify-content: space-between;
}

.btn-buy {
  width: 100%;
}

.achievements .check {
  width: 100px;
}

.tooltip-target > .tooltip-info {
  max-width: 300px;
  padding: 5px 10px;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #999;
  transition-property: opacity, visibility;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  transition-delay: 0; /* immediate disappear. */
  color: #000000;
  background: white;
  border: 1px solid #333333;
}

.tooltip-target:hover > .tooltip-info {
    opacity: 1;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    display: inline;
    transition-delay: 0.5s; /* delay the hover. */
}

.progress {
  position: relative; /* To bound absolute children. */
}

.progress-bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 3px #f5f5f5;
  font-size: 90%;
}
