<html>
  <head>
    <title>Empire Builder</title>
    <script data-main="app/config.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/empire-builder.css" />
  </head>
  <body>
    <div ng-controller="GameController" class="container">
        <div id="status-bar" class="row">
          <ul class="menu">
            <li ng-click="gameController.onShowCities()">Cities</li>
            <li ng-click="gameController.onShowUpgrades()">Upgrades</li>
            <li ng-click="gameController.onShowAchievements()">Achievements</li>
          </ul>
          <div class="resources">
            <div class="money">
              Money: {{ gameController.game.money | roundDown | number: 0}}
              <span class="income">
                ({{ gameController.game.moneyPerSecond | number:1 }}/s)
              </span>
            </div>
            <div class="score">
              Score: {{ gameController.game.achievementScore | number: 0 }}
            </div>
          </div>
        </div>

        <div class="row">
          <ui-view></ui-view>
        </div>
    </div>
  </body>
</html>
