<div class="row">
  <div id="side-panel" class="col-md-4">
    <table class='city-list table'>
      <thead>
        <tr class="city-list-header">
          <th class="name">City</th>
          <th class="money-delta">Money</th>
          <th class="buildings">Buildings</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="city in gameController.game.cities" ng-click="$emit('select-city', $index)">
          <td class="name">{{ city.name }}</td>
          <td class="money-delta">{{ city.moneyPerTurn | number:1 }}/s</td>
          <td class="buildings">{{ city.totalBuildings() }}</td>
          <td class="actions"><a class="btn btn-info">View</a></td>
        </tr>
      </tbody>
    </table>
    <a ng-click="$emit('purchaseCity')" class="btn btn-primary">Buy City ({{game.cityCost() | roundUp | number:0 }})</a>
  </div>
  <div id="main-panel" class="col-md-8">
    <ui-view></ui-view>
  </div>
</div>
