<div class="city-detail">
  <h3 class="name">{{ cityController.city.name }}</h3>
  <div class="metrics">
    <p class="distance-penalty">&#xe949; {{ cityController.city.distance | number:0 }}</p>
    <p class="population">&#xe972; {{ cityController.city.population }}</p>
    <p class="food">
    &#xe9a4; {{ cityController.city.food | number:0 }} /
      {{ cityController.city.foodRequired() | roundUp | number:0}}
      (+{{ cityController.city.foodPerSecond | number:1 }})
    </p>
    <p class="unemployed">
      Unemployed:
      {{ cityController.city.population - cityController.city.totalWorking() }}
    </p>
  </div>

  <div class="modifiers" ng-if="cityController.hasModifiers()">
    <table class="table modifier-list">
      <thead>
        <tr class="modifier-list-header">
          <th>Modifier</th>
          <th>Strength</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="modifier in cityController.getModifiers()">
          <td>{{ cityController.getModifierName(modifier) }}</td>
          <td>{{ cityController.getModifierStrength(modifier) | number:0 }}</td>
          <td>{{ cityController.getModifierDescription(modifier) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class='building-list table'>
    <thead>
      <tr class="building-list-header">
        <th class="name">Building</th>
        <th class="count">&#xe901;</th>
        <th class="workers">&#xe971;</th>
        <th class="description">Description</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="building in cityController.getBuildings()">
        <td class="name">{{ building.name }}</td>
        <td class="count">{{ cityController.getBuildingCount(building.id) | number:0 }}</td>
        <td class="workers">
          <a ng-click="cityController.city.addWorker(building.id)">&#xea0a;</a>
          {{ cityController.getNumWorkers(building.id) | number:0 }}
          <a ng-click="cityController.city.removeWorker(building.id)">&#xea0b;</a>
        </td>
        <td class="description">{{ building.description }}</td>
        <td class="actions">
          <a class="btn btn-primary btn-buy" ng-click="cityController.purchase(building.id)"
            ng-class="cityController.canPurchase(building.id) || 'disabled'">
            Buy {{ cityController.getBuildingCost(building.id) | roundUp | number:0 }}&#xe93b;
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
